<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <center>
    <ion-title style="margin-top: 2%;">Profile</ion-title>
    <ion-avatar style="margin-top: 5%;margin-bottom: 5%;">
      <img src="assets/foto.jpeg">
    </ion-avatar>
    <p>Nama : Kevin Edlyn Chandra</p>
    <p>NRP : C14180208a</p>
    <p>Email : C14180208@john.petra.ac.id</p>
    <p>Nomor HP : 081331648416</p>
  </center>
</ion-content>
